{% extends 'base/base.html' %}

{% block title %}
    <title>知识管理系统</title>
{% endblock %}

{% block style %}
    <style>
        #tooltip{
            position:absolute;
            padding-left: 10px;
            padding-right: 10px;
            background:#3499da;
            color:#fff;
            display:none;
            height: 30px;
            line-height: 30px;
            border-radius: 4px;
        }
        .loading{
            width: 100%;
            height: 85%;
            position: absolute;
            background: url(/static/img/loding.gif) no-repeat;
            background-position: center;
            background-size: 40px 40px;
            display: none;
        }
        .content{
            padding-left:5px;
            width: 100%;
            height: 92%;
            overflow-y: scroll;
            border-top: 1px solid #dddddd;
        }
        @media screen and (max-width: 1500px) {
            .content{
                height: 87%;
            }
        }
    </style>
{% endblock %}

{% block page_body_left_home %}
    <div class="home">首&nbsp;&nbsp;&nbsp;页</div>
{% endblock %}

{% block page_body_left_classify %}
    <div class="home-classify">
        <ul class="list-group">
            {% for i in homepage_nav %}
                {% if i.nav_name == '全部文档' %}
                    <li class="list-group-item active" onclick="GetLeftHomepageNavData(this);"
                        id="{{ i.id }}">{{ i.nav_name }}</li>
                {% else %}
                    <li class="list-group-item" onclick="GetLeftHomepageNavData(this);"
                        id="{{ i.id }}">{{ i.nav_name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block page_body_right_head %}
    {% include 'common_module/button.html' %}
{% endblock %}

{% block page_body_right_content %}
    <div class="loading"></div>
    <div class="content">
        <table id="table" style="height: 100%">
            <thead>
                <tr>
                    <th style="width: 5%"></th>
                    <th style="width: 35%">标题</th>
                    <th style="width: 10%">发布人</th>
                    <th style="width: 20%">分类</th>
                    <th style="width: 10%">发布部门</th>
                    <th style="width: 10%">审核人</th>
                    <th style="width: 10%">发布日期</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="paging" style="width: 100%;padding-left: 5px;">
        <nav aria-label="Page navigation" style="position: absolute;bottom: 0;width: 99%">
            <ul class="pagination" style="display:flex; margin: 0;width: 100%;background-color: #e3e3e3;background: linear-gradient(#e2e2e2, #cccccc);"></ul>
        </nav>
    </div>
{% endblock %}

{% block page-footer %}
    <div class="page-footer"></div>
{% endblock %}

{% block script %}
    <script src="/static/js/search.js"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        $(function () {
            let homepage = document.getElementById('homepage');
            homepage.parentElement.setAttribute('style', 'background-color: #003152');
            // 控制表格可自由拖动宽度
            $('#table').colResizable({
                resizeMode: "fit",
                liveDrag: true,
                draggingClass: "dragging",
            });
            // 左侧导航切换
            $('.list-group-item').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
            });

            // 全选
            $('#check-all').click(function () {
                $('.body-right tbody').find('input[type="checkbox"]').prop('checked', true);
            });

            // 反选
            $('#invert-sel').click(function () {
                let checked = $('.body-right tbody').find('input[type="checkbox"]');
                $(checked).each(function () {
                    if ($(this).prop('checked') == true){
                       $(this).prop('checked', false);
                    } else {
                       $(this).prop('checked', true);
                    }
                });
            });
        });

        function GetLeftHomepageNavData(self, page) {
            $('.loading').show();
            let navId = $(self).attr('id');
            let navName = $(self).text();
            $.ajax({
                url: '/query_index_data/',
                method: 'post',
                dataType: 'json',
                data: {'navId': navId, 'navName': navName, 'page': page},
                success: function (data) {
                    if (data.status) {
                        let tbody = $('.content table tbody');
                        let pageNumber = 20;
                        tbody.empty();
                        for (let i = 0; i < pageNumber; i++) {
                            if (data.result_list[i]) {
                                if ((data.result_list[i].doc_status === "保存" || data.result_list[i].doc_status === "审核"
                                    || data.result_list[i].doc_status === "退回") &&
                                    (navName === "待提交文档" || navName === "待审核文档" || navName === "审核失败")) {
                                    var td = "<td><input type='checkbox'/></td>" +
                                        "<td style='text-align: left;'><a href='/release/?doc_uuid=" +
                                        data.result_list[i].uuid + "'target='_blank'>" + data.result_list[i].title + "</a></td>" +
                                        "<td>" + data.result_list[i].issuer + "</td>" +
                                        "<td>" + data.result_list[i].classify_name + "</td>" +
                                        "<td>" + data.result_list[i].issuer_dept + "</td>" +
                                        "<td>" + data.result_list[i].auditor + "</td>" +
                                        "<td>" + data.result_list[i].release_date + "</td>"+
                                        "<td id='return_reason' hidden>" + data.result_list[i].return_reason + "</td>";

                                } else {
                                    var td = "<td><input type='checkbox'/></td>" +
                                        "<td style='text-align: left;'><a href='/view_form/?doc_uuid=" +
                                        data.result_list[i].uuid + "'target='_blank'>" + data.result_list[i].title + "</a></td>" +
                                        "<td>" + data.result_list[i].issuer + "</td>" +
                                        "<td>" + data.result_list[i].classify_name + "</td>" +
                                        "<td>" + data.result_list[i].issuer_dept + "</td>" +
                                        "<td>" + data.result_list[i].auditor + "</td>" +
                                        "<td>" + data.result_list[i].release_date + "</td>";
                                }
                            } else {
                                var td = "<td></td><td style='text-align: left;'></td>" +
                                    "<td></td>" + "<td></td>" + "<td></td>" + "<td></td>" + "<td></td>";
                            }
                            tbody.append("<tr></tr>");
                            tbody.children('tr').last().append(td);
                        }
                        // 在审核失败中鼠标悬浮到标题上显示退回原因提示框
                        if (navName === "审核失败"){
                            $('#table a').mouseover(function (e) {
                                let returnReason = $(e.currentTarget).parent().nextAll('#return_reason').text();
                                $('body').append('<div id="tooltip"><span>退回原因：</span><span>' + returnReason + '</span></div>');
                                $('#tooltip').css({'left': (e.pageX + 12 + 'px'), 'top': (e.pageY + 15 + 'px')}).show();
                            }).mouseout(function () {
                                $('#tooltip').remove();
                            }).mousemove(function (e) {
                                $('#tooltip').css({'left': (e.pageX + 12 + 'px'), 'top': (e.pageY + 15 + 'px')}).show();
                            })
                        }

                        $('.pagination').empty();
                        //上一页
                        if (data.paging_param.has_per_page) {
                            let perPage = '<li><a href="#" aria-label="Previous" onclick="GetPagingData(self,'
                                + data.paging_param.per_page_number + ')"><span aria-hidden="true">&laquo;</span></a></li>';
                            $('.pagination').append(perPage)
                        } else {
                            let perPage = '<li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
                            $('.pagination').append(perPage)
                        }
                        // 页码
                        for (let i = 0; i < data.paging_param.curr_show_pages.length; i++) {
                            if (data.paging_param.current_page === data.paging_param.curr_show_pages[i]) {
                                let page = '<li><a href="#" style="background-color: #eeeeee;" onclick="GetPagingData(self,' +
                                    data.paging_param.curr_show_pages[i] + ');">' + data.paging_param.curr_show_pages[i] + '</a></li>';
                                $('.pagination').append(page)
                            } else {
                                let page = '<li><a href="#" onclick="GetPagingData(self,' +
                                    data.paging_param.curr_show_pages[i] + ');">' + data.paging_param.curr_show_pages[i] + '</a></li>';
                                $('.pagination').append(page)
                            }
                        }

                        // 下一页
                        if (data.paging_param.has_next_page) {
                            let nextPage = '<li><a href="#" aria-label="Next" onclick="GetPagingData(self,' +
                                data.paging_param.next_page_number + ')"><span aria-hidden="true">&raquo;</span></a></li>';
                            $('.pagination').append(nextPage)
                        } else {
                            let nextPage = '<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>';
                            $('.pagination').append(nextPage)
                        }
                        $('.pagination').append('<li style="position: absolute;align-self: center;right: 10px;top: 25%;">总页数:' +
                            data.paging_param.total_page + '页</li>')
                        $('.loading').hide()
                    }
                }
            })
        }

        function GetPagingData(self, page) {
            let activeNav = $('.list-group').find('.active');
            GetLeftHomepageNavData(activeNav, page);
        }

        function BatchDeleteDoc(){
            let checked = $('#table').find('input[type=checkbox]:checked');
            let pnc = checked.parent().next().children();
            // let reg = /(?<==).*$/;
            let reg = /\w{8}(-\w{4}){3}-\w{12}/;
            let uuidSet = [];
            for (let i=0; i<pnc.length;i++){
                let doc_uuid = reg.exec($(pnc[i]).attr('href'))[0];
                uuidSet.push(doc_uuid);
            }
            $.ajax({
                url: '/del_doc/',
                method: 'post',
                dataType: 'json',
                data: {'uuidSet': JSON.stringify(uuidSet)},
                success: function (data) {
                    if (data.status === true){
                        alert('删除成功！')
                    }
                }
            })
        }

        // 默认显示当前激活页的内容
        GetLeftHomepageNavData($('.list-group .active')[0])

    </script>
{% endblock %}