{% extends 'base/base.html' %}

{% block title %}
    <title>知识管理系统</title>
{% endblock %}

{% block style %}
    <style>
        .content a:link, a:visited{
            color: black;
        }
    </style>
{% endblock %}

{% block page_body_left_home %}
    <div class="home">首&nbsp&nbsp&nbsp页</div>
{% endblock %}

{% block page_body_left_classify %}
    <div class="home-classify">
        <ul class="list-group">
            {% for i in homepage_nav %}
                {% if i.nav_name == '全部文档' %}
                <li class="list-group-item active" onclick="GetLeftHomepageNavData(this);" id="{{ i.id }}">{{ i.nav_name }}</li>
                {% else %}
                <li class="list-group-item" onclick="GetLeftHomepageNavData(this);" id="{{ i.id }}">{{ i.nav_name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block page_body_right_head %}
    {% include 'common_module/button.html' %}
{% endblock %}

{% block page_body_right_content %}
    <div class="content" style="padding-left:5px;width: 100%;height: 88%;overflow-y: scroll">
        <table style="height: 100%">
            <thead>
                <tr>
                    <th style="width: 5%"></th>
                    <th style="width: 35%">标题</th>
                    <th style="width: 10%">发布人</th>
                    <th style="width: 20%">分类</th>
                    <th style="width: 10%">发布部门</th>
                    <th style="width: 10%">审核人</th>
                    <th style="width: 10%">发布日期</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div style="height: 6%;width: 100%;padding-left: 5px;">
        <nav aria-label="Page navigation" style="position: absolute;bottom: -4px;width: 99%">
            <ul class="pagination" style="margin: 0;width: 100%;background-color: #e3e3e3;"></ul>
        </nav>
    </div>
{% endblock %}

{% block page-footer %}
    <div class="page-footer"></div>
{% endblock %}

{% block script %}
    <script src="/static/plugins/js/jquery-3.3.1.js"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        $(function () {
            // 左侧导航切换
            $('.list-group-item').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
                let name = $(this).attr('name');
                $('.' + name).removeClass('hide').siblings().addClass('hide');
            });
        });
        function GetLeftHomepageNavData(self,page) {
            let navId = $(self).attr('id');
            let navName = $(self).text();
            $.ajax({
                url: '/query_index_data/',
                method: 'post',
                dataType: 'json',
                data:{'navId':navId,'navName':navName,'page':page},
                success:function (data) {
                    if (data.status){
                        let tbody = $('.content table tbody');
                        let len = data.result_list.length;
                        let pageNumber = 16;
                        console.log(data.result_list)
                        tbody.empty();
                        for (let i=0;i<pageNumber;i++){
                            if (data.result_list[i]) {
                                if ((data.result_list[i].doc_status === "保存" || data.result_list[i].doc_status === "审核") &&
                                    (navName === "待提交文档" || navName === "待审核文档")){
                                    var td = "<td><input type='checkbox'/></td>"+
                                        "<td style='text-align: left;padding-left: 5px'><a href='release/?doc_uuid="+
                                        data.result_list[i].uuid+"'target='_blank'>"+data.result_list[i].title+"</a></td>"+
                                        "<td>"+data.result_list[i].issuer+"</td>"+
                                        "<td>"+data.result_list[i].classify_name+"</td>"+
                                        "<td>"+data.result_list[i].issuer_dept+"</td>"+
                                        "<td>"+data.result_list[i].auditor+"</td>"+
                                        "<td>"+data.result_list[i].release_date+"</td>";
                                }else {
                                    var td = "<td><input type='checkbox'/></td>"+
                                        "<td style='text-align: left;padding-left: 5px'><a href='view_form/?doc_uuid="+
                                        data.result_list[i].uuid+"'target='_blank'>"+data.result_list[i].title+"</a></td>"+
                                        "<td>"+data.result_list[i].issuer+"</td>"+
                                        "<td>"+data.result_list[i].classify_name+"</td>"+
                                        "<td>"+data.result_list[i].issuer_dept+"</td>"+
                                        "<td>"+data.result_list[i].auditor+"</td>"+
                                        "<td>"+data.result_list[i].release_date+"</td>";
                                }
                            }else {
                                var td = "<td></td><td style='text-align: left;padding-left: 5px'></td>"+
                                    "<td></td>" + "<td></td>" + "<td></td>" + "<td></td>" + "<td></td>";
                            }

                            tbody.append("<tr></tr>");
                            tbody.children('tr').last().append(td);
                        }
                        $('.pagination').empty();
                        //上一页
                        if (data.page_dict.has_per_page){
                            let perPage = '<li><a href="#" aria-label="Previous" onclick="GetPagingData(self,"' +
                                data.page_dict.per_page_number+'")"><span aria-hidden="true">&laquo;</span></a>' + '</li>';
                            $('.pagination').append(perPage)
                        }else{
                            let perPage = '<li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>' + '</li>';
                            $('.pagination').append(perPage)
                        }
                        // 页码
                        for (let i=0;i<data.page_dict.total_page.length;i++){
                            if (data.page_dict.current_page === data.page_dict.total_page[i]) {
                                let page = '<li><a href="#" style="background-color: #eeeeee;" onclick="GetPagingData(self,'+
                                    data.page_dict.total_page[i]+');">'+data.page_dict.total_page[i]+'</a></li>';
                                $('.pagination').append(page)
                            }else {
                                let page = '<li><a href="#" onclick="GetPagingData(self,'+
                                    data.page_dict.total_page[i]+');">'+data.page_dict.total_page[i]+'</a></li>';
                                $('.pagination').append(page)
                            }
                        }

                        // 下一页
                        if (data.page_dict.has_next_page){
                            let nextPage = '<li><a href="#" aria-label="Next" onclick="GetPagingData(self,'+
                                data.page_dict.next_page_number+')"><span aria-hidden="true">&raquo;</span></a>'+'</li>';
                            $('.pagination').append(nextPage)
                        }else {
                            let nextPage = '<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>'+'</li>';
                            $('.pagination').append(nextPage)
                        }
                    }
                }
            })
        }
        function GetPagingData(self,page) {
            let activeNav = $('.list-group').find('.active');
            GetLeftHomepageNavData(activeNav, page);
        }
        GetLeftHomepageNavData($('.list-group').find('.active'))
    </script>
{% endblock %}